<footer>
  <div class="footer-block">
    <div class="footer_blue_block">
      <div class="container">
        <h2>
          let's discuss making your
          interior like a dream place!
        </h2>
        <div class="text-button-block">
          <p>
            Contact us below to work together
            to build your amazing interior
          </p>
          <a routerLink="/contact-us" class="button_footer">Contact Us</a>
        </div>
      </div>
    </div>
    <div class="footer_white_block">
      <div class="container">
        <div class="footer-logo-text-block">
          <div class="footer-logo-box">
            <h2 class="footer-logo-text">Dananz</h2>
            <svg width="46" height="15" viewBox="0 0 46 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path id="Vector 286" d="M1.61523 1V13.5H44.9999V1" stroke="black" stroke-width="2" stroke-linecap="round"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7" fill="none">
              <path d="M5.21484 1.5L1.84879 6" stroke="black" stroke-width="2" stroke-linecap="round"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="7" viewBox="0 0 6 7" fill="none">
              <path d="M1.35352 1.5L4.71957 6" stroke="black" stroke-width="2" stroke-linecap="round"/>
            </svg>
          </div>
          <h2>One of the best furniture agency.</h2>
        </div>
        <div class="footer-input-block">
          <form [formGroup]="forms">
            <label>
              <div class="text-box">
                <div class="circle"></div>
                <p>
                  Enter  your email to get the laterst news
                </p>
                <img class="footer-vector" src="assets/images/icons/footer-input-vector.svg" alt="vector">
              </div>
              <input formControlName="email" placeholder="Email Address" type="email">
            </label>
          </form>
          <div class="footer-social-sites-block">
            <p>Follow us On</p>
            <div class="social-sites-box">
              <a target="_blank" href="https://www.facebook.com/">
                <img src="assets/images/icons/facebook.svg" alt="facebook">
              </a>
              <a target="_blank" style="margin-left: 25px" href="https://www.instagram.com/?hl=en">
                <img src="assets/images/icons/instagram.svg" alt="instagram">
              </a>
              <a target="_blank" style="margin-left: 25px" href="https://www.tiktok.com/">
                <img src="assets/images/icons/tiktok.svg" alt="tiktok">
              </a>
              <a target="_blank" style="margin-left: 25px" href="https://www.youtube.com/">
                <img src="assets/images/icons/youtube.svg" alt="youtube">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
