<div style="margin-top: 100px" class="service-block">
  <div class="container">
    <h4>Service</h4>
    <h2>Why Choose Us</h2>
    <p>
      Customize your interior design into a dream place with
      the best designers and quality furniture. We try our
      best to fulfill your expectations.
    </p>
    <div class="service-blocks">
      <div routerLink="/sevices" class="block">
        <div class="circle"></div>
        <h3>High Quality</h3>
        <p>
          Customize your interior design into a dream
          place with the best designers and quality furniture.
          We try our best to fulfill your expectations.
        </p>
      </div>
      <div routerLink="/sevices" class="block">
        <div class="circle"></div>
        <h3>Professional Designer</h3>
        <p>
          Customize your interior design into a dream
          place with the best designers and quality furniture.
          We try our best to fulfill your expectations.
        </p>
      </div>
      <div routerLink="/sevices" class="block">
        <div class="circle"></div>
        <h3>The Best Services</h3>
        <p>
          Customize your interior design into a dream
          place with the best designers and quality furniture.
          We try our best to fulfill your expectations.
        </p>
      </div>
    </div>
  </div>
</div>
