<header>
  <div class="header_block">
    <div class="header-container">
      <div routerLink="" class="header-logo-box">
        <h2 class="header-logo-text">Dananz</h2>
        <svg width="46" height="15" viewBox="0 0 46 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path id="Vector 286" d="M1.61523 1V13.5H44.9999V1" stroke="black" stroke-width="2" stroke-linecap="round"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7" fill="none">
          <path d="M5.21484 1.5L1.84879 6" stroke="black" stroke-width="2" stroke-linecap="round"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="7" viewBox="0 0 6 7" fill="none">
          <path d="M1.35352 1.5L4.71957 6" stroke="black" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </div>
      <div class="header-links">
        <a routerLink="" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Home</a>
        <a routerLink="about-us" routerLinkActive="active">About Us</a>
        <a routerLink="sevices" routerLinkActive="active">Sevices</a>
        <a routerLink="our-teams" routerLinkActive="active">Our Teams</a>
        <a routerLink="contact-us" routerLinkActive="active" class="contact-us-button">Contact Us</a>
      </div>
      <div class="header-links-mobile">
        <label>
          <img src="assets/images/icons/header-mobile-menu.svg">
          <input id="chackbox" type="checkbox">
          <div class="links">
            <label for="chackbox">
              <p>&times;</p>
            </label>
            <a routerLink="" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-mobile">Home</a>
            <a routerLink="about-us" routerLinkActive="active-mobile">About Us</a>
            <a routerLink="sevices" routerLinkActive="active-mobile">Sevices</a>
            <a routerLink="our-teams" routerLinkActive="active-mobile">Our Teams</a>
            <a routerLink="contact-us" routerLinkActive="active-mobile" class="contact-us-button">Contact Us</a>
          </div>
        </label>
      </div>
    </div>
  </div>
</header>
