<div class="our-teams-block">
  <div class="container">
    <h1>Our Teams</h1>
    <p>
      It is a long established fact that a reader
      will be distracted by the readable content
      of a page when looking at its layout.
    </p>
    <img src="assets/images/backgrounds/our-temas-background.png" alt="background">
  </div>
</div>
<div class="our-temas-designer-block">
  <div class="container">
    <h4>Designer</h4>
    <h2>Creative Person</h2>
    <p>
      Customize your interior design into a dream place with the
      best designers and quality furniture. We try our best to
      fulfill your expectations.
    </p>
    <div class="user_block_our-temas-designer-block">
      <div style="margin-top: 24px" class="row">
        <ng-container *ngFor="let data of userInfoData, let i = index">
          <div *ngIf="i < 4" class="user">
            <img src="{{ data.userImg }}" alt="user">
            <div class="username-block">
              <h3>{{ data.userName }}</h3>
              <p>{{ data.userBio }}</p>
            </div>
          </div>
        </ng-container>
      </div>
      <div style="margin-top: 24px" class="row">
        <ng-container *ngFor="let data of userInfoData, let i = index">
          <div *ngIf="i < 4" class="user">
            <img src="{{ userInfoData[i + 4].userImg }}" alt="user">
            <div class="username-block">
              <h3>{{ userInfoData[i + 4].userName }}</h3>
              <p>{{ userInfoData[i + 4].userBio }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<app-services-block></app-services-block>
