<div class="our-teams-block">
  <div class="container">
    <h1>Our Teams</h1>
    <p>
      It is a long established fact that a reader
      will be distracted by the readable content
      of a page when looking at its layout.
    </p>
    <img src="assets/images/backgrounds/our-temas-background.png" alt="background">
  </div>
</div>
<div class="our-temas-designer-block">
  <div class="container">
    <h4>Designer</h4>
    <h2>Creative Person</h2>
    <p>
      Customize your interior design into a dream place with the
      best designers and quality furniture. We try our best to
      fulfill your expectations.
    </p>
    <div class="user_block_our-temas-designer-block">
      <div class="row">
        <div class="user">
          <img src="assets/images/user1-our-teams.png" alt="user">
          <div class="username-block">
            <h3>Shoo Phar Dhie</h3>
            <p>CEO</p>
          </div>
        </div>
        <div class="user">
          <img src="assets/images/user2-our-teams.png" alt="user">
          <div class="username-block">
            <h3>Shoo Phar Dhie</h3>
            <p>CEO</p>
          </div>
        </div>
        <div class="user">
          <img src="assets/images/user3-our-teams.png" alt="user">
          <div class="username-block">
            <h3>Shoo Phar Dhie</h3>
            <p>CEO</p>
          </div>
        </div>
        <div class="user">
          <img src="assets/images/user4-our-teams.png" alt="user">
          <div class="username-block">
            <h3>Shoo Phar Dhie</h3>
            <p>CEO</p>
          </div>
        </div>
      </div>
      <div style="margin-top: 24px" class="row">
        <div class="user">
          <img src="assets/images/user5-our-teams.png" alt="user">
          <div class="username-block">
            <h3>Shoo Phar Dhie</h3>
            <p>CEO</p>
          </div>
        </div>
        <div class="user">
          <img src="assets/images/user6-our-teams.png" alt="user">
          <div class="username-block">
            <h3>Shoo Phar Dhie</h3>
            <p>CEO</p>
          </div>
        </div>
        <div class="user">
          <img src="assets/images/user7-our-teams.png" alt="user">
          <div class="username-block">
            <h3>Shoo Phar Dhie</h3>
            <p>CEO</p>
          </div>
        </div>
        <div class="user">
          <img src="assets/images/user8-our-teams.png" alt="user">
          <div class="username-block">
            <h3>Shoo Phar Dhie</h3>
            <p>CEO</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-services-block></app-services-block>
