<div class="portfolio-details-block">
  <div class="container">
    <h1>Minimalist Room</h1>
    <p>
      It is a long established fact that
      a reader will be distracted by the
      readable content of a page when
      looking at its layout.
    </p>
    <img src="assets/images/backgrounds/background-portfolio-details.png" alt="background">
  </div>
</div>
<div class="portfolio-details-text-block">
  <div class="container">
    <div class="project-overview">
      <h3>Project Overview</h3>
      <p>
        Online learning with us does not interfere
        with your daily life. because learning
        can be done anytime and anywhere. Online
        learning with us does not interfere with
        your daily life. because learning can be
        done anytime and anywhere. Online learning
        with us does not interfere with your daily
        life. because learning can be done anytime
        and anywhere.
      </p>
      <div>
        <p>July 22 - 2022</p>
        <p>Interior Design - Furnitur</p>
      </div>
    </div>
    <div class="desgin-progress">
      <h3>Design Process</h3>
      <p>
        Online learning with us does not interfere
        with your daily life. because learning can
        be done anytime and anywhere. Online learning
        with us does not interfere with your daily life.
        because learning can be done anytime and anywhere.
      </p>
      <p>
        Online learning with us does not interfere
        with your daily life. because learning can
        be done anytime and anywhere. Online learning
        with us does not interfere with your daily life.
        because learning can be done anytime and anywhere.
      </p>
    </div>
  </div>
  <div class="images-block">
    <div class="container">
      <div>
        <img src="assets/images/portfolio-details-img1.png" alt="image portfolio">
        <img src="assets/images/portfolio-details-img2.png" alt="image portfolio">
      </div>
      <img src="assets/images/portfolio-details-img3.png" alt="image portfolio">
      <div style="margin-top: 32px">
        <img src="assets/images/portfolio-details-img4.png" alt="image portfolio">
        <img src="assets/images/portfolio-details-img5.png" alt="image portfolio">
      </div>
    </div>
  </div>
</div>
