<div class="product_block">
  <div class="container">
    <h4>Product</h4>
    <div class="text_block">
      <h2>
        Choose your product themes.
      </h2>
      <p>
        Find the theme you want. If our
        choice of theme is not what you
        want, you can customize it as
        you want.
      </p>
    </div>
    <div class="lists-block">
      <div class="list">
        <div>
          <p>01</p>
          <p>Vintage</p>
        </div>
        <a href="#"><img src="assets/images/icons/arrow-right.svg" alt="arrow right"></a>
      </div>
      <p>
        the use of simple and limited elements
        to get the best effect or impression.
      </p>
      <div style="margin-top: 43px" class="list">
        <div>
          <p>02</p>
          <p>Minimalist</p>
        </div>
        <a href="#"><img src="assets/images/icons/arrow-right.svg" alt="arrow right"></a>
      </div>
      <p>
        the use of simple and limited elements
        to get the best effect or impression.
      </p>
      <div style="margin-top: 43px" class="list">
        <div>
          <p>03</p>
          <p>Modern</p>
        </div>
        <a href="#"><img src="assets/images/icons/arrow-right.svg" alt="arrow right"></a>
      </div>
      <p>
        the use of simple and limited elements
        to get the best effect or impression.
      </p>
      <div style="margin-top: 43px" class="list">
        <div>
          <p>04</p>
          <p>transitional</p>
        </div>
        <a href="#"><img src="assets/images/icons/arrow-right.svg" alt="arrow right"></a>
      </div>
      <p>
        the use of simple and limited elements
        to get the best effect or impression.
      </p>
    </div>
  </div>
</div>
