<div class="design_your_interor-block">
  <div class="container">
    <div class="text-block">
      <h1>
        Design your interor with high quality.
      </h1>
      <p>
        2022 <br>
        ALL RIGHT RESERVED
      </p>
    </div>
    <div class="d-y-i_image-block">
      <div class="info-block">
        <div class="info-text-block">
          <span>350+</span>
          <p>Project Completed</p>
        </div>
        <div style="margin-top: 57px" class="info-text-block">
          <span>23+</span>
          <p>Professional Teams</p>
        </div>
        <div style="margin-top: 57px" class="info-text-block">
          <span>15+</span>
          <p>Years Experience</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about-block">
  <div class="container">
    <h4>About</h4>
    <h2>
      “We're one of the best furniture agency. Prioritizing
      customers and making purchases easy are the hallmarks of our agency.”
    </h2>
    <div class="about-image-block">
      <img src="assets/images/about-img.png" alt="this is image">
      <div class="about-text-block">
        <p>
          Online learning with us does not interfere
          with your daily life. because learning can be
          done anytime and anywhere.
        </p>
        <a style="margin-top: 40px" class="global-button" href="#">Learn More</a>
      </div>
      <div class="user-info_block">
        <img src="assets/images/user-img.png" alt="user image">
        <div class="text_block">
          <p>Arga Danaan</p>
          <span>CEO of Dananz</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="service_block">
  <div class="container">
    <div>
      <h4>Service</h4>
      <h2>attractive furniture with the best quality.</h2>
      <p>
        Customize your interior design into a dream place
        with the best designers and quality furniture. We
        try our best to fulfill your expectations.
      </p>
      <div class="row-box">
        <div class="row">
          <div>
            <p>01</p>
            <p style="margin-left: 40px">Interior Design</p>
          </div>
          <a href="#">
            <img src="assets/images/icons/arrow-right.svg" alt="arrow-right">
          </a>
        </div>
        <div style="margin-top: 35px" class="row">
          <div>
            <p>02</p>
            <p>Consultant</p>
          </div>
          <a href="#">
            <img src="assets/images/icons/arrow-right.svg" alt="arrow-right">
          </a>
        </div>
        <div style="margin-top: 35px" class="row">
          <div>
            <p>03</p>
            <p>Construction Consultant</p>
          </div>
          <a href="#">
            <img src="assets/images/icons/arrow-right.svg" alt="arrow-right">
          </a>
        </div>
      </div>
    </div>
    <img src="assets/images/backgrounds/background-services.png" alt="this is image">
  </div>
</div>
<app-product></app-product>
<div class="material_block">
  <div class="container">
    <h4>Material</h4>
    <div>
      <div class="texts_block">
        <h2>
          choice of materials
          for quality furniture.
        </h2>
        <p>
          You can custom the material as desired.
          And our furniture uses the best materials
          and selected quality materials.
        </p>
        <a href="#">See Materials</a>
      </div>
      <div class="images_block">
        <img src="assets/images/img3.png" alt="material">
        <img src="assets/images/img2.png" alt=""material>
        <img src="assets/images/img1.png" alt=""material>
      </div>
    </div>
  </div>
</div>
