<div class="contact-us-block">
  <div class="container">
    <h1>Contact Us</h1>
    <p>
      It is a long established fact that a reader
      will be distracted by the readable content
      of a page when looking at its layout.
    </p>
    <div class="input-block">
      <form>
        <div class="row">
          <div>
            <label>
              <p>First Name</p>
              <input placeholder="First Name" type="text">
            </label>
          </div>
          <div>
            <label>
              <p>Last Name</p>
              <input placeholder="Last Name" type="text">
            </label>
          </div>
        </div>
        <label>
          <p>Email</p>
          <input placeholder="Email" type="email">
        </label>
        <label for="input">
          <p>Phone Number</p>
        </label>
        <div class="select-box">
          <select>
            <option>US</option>
            <option>EN</option>
            <option>RU</option>
            <option>AM</option>
          </select>
          <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Arrow - Down 2">
              <path id="Stroke 1" d="M15 1.5L8 8.5L1 1.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
          </svg>
          <input id="input" placeholder="Phone Number" type="text">
        </div>
        <label for="textarea"><p>Message</p></label>
        <textarea id="textarea" placeholder="Your Message" name="message" cols="30" rows="6"></textarea>
        <div class="button-box">
          <button style="margin-top: 40px" class="global-button" type="submit">Send Massage</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="loaction-block-contact-us">
  <div class="container">
    <h4>Loaction</h4>
    <div class="location_text-info-blocks-contact-us">
      <div class="info-block">
        <h2>Visit Our Stores</h2>
        <p>Find us at these locations.</p>
        <h4>Email</h4>
        <p style="margin-top: 10px">dananz@gmail.com</p>
        <h4 style="margin-top: 33px">Phone</h4>
        <p style="margin-top: 10px">+62 815 002 1000</p>
      </div>
      <div class="texts-block">
        <div class="row">
          <div class="text-box">
            <h5>Jakarta</h5>
            <p>
              Customize your interior design into a dream place with
              the best designers and quality furniture. We try our best
              to fulfill your expectations.
            </p>
          </div>
          <div class="text-box">
            <h5>Surakarta</h5>
            <p>
              Customize your interior design into a dream place with
              the best designers and quality furniture. We try our best
              to fulfill your expectations.
            </p>
          </div>
        </div>
        <div style="margin-top: 41px" class="row">
          <div class="text-box">
            <h5>Yogyakarta</h5>
            <p>
              Customize your interior design into a dream place with
              the best designers and quality furniture. We try our best
              to fulfill your expectations.
            </p>
          </div>
          <div class="text-box">
            <h5>Bandung</h5>
            <p>
              Customize your interior design into a dream place with
              the best designers and quality furniture. We try our best
              to fulfill your expectations.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
