<div class="about-block-about-us">
  <div class="container">
    <h1>About</h1>
    <p>
      It is a long established fact that a reader will be distracted
      by the readable content of a page when looking at its layout.
    </p>
    <img src="assets/images/backgrounds/about-us-background.png" alt="background">
  </div>
</div>
<div class="achievement-block-about-us">
  <div class="container">
    <h4>Achievement</h4>
    <h2>
      interior customization with Danaanz,
      best quality with professional workers
    </h2>
    <div class="image-info-block">
      <img src="assets/images/image-about-us.png" alt="image">
      <div class="info-block">
        <div class="info-text-block">
          <span>350+</span>
          <p>Project Completed</p>
        </div>
        <div style="margin-top: 57px" class="info-text-block">
          <span>23+</span>
          <p>Professional Teams</p>
        </div>
        <div style="margin-top: 57px" class="info-text-block">
          <span>15+</span>
          <p>Years Experience</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-services-block></app-services-block>
