<div class="portfolio-block">
  <div class="container">
    <h1>Portfolio</h1>
    <p>
      It is a long established fact that
      a reader will be distracted by the
      readable content of a page when looking
      at its layout.
    </p>
    <img src="assets/images/portfolio-image.png" alt="portfolio image">
  </div>
</div>
<div class="portfolio-block-portfolio">
  <div class="container">
    <h4>Portfolio</h4>
    <app-about-block
      *ngFor="
        let data of aboutUsBlockDate,
        let i = index" [aboutBlockDate]="data
      "
      [isReverce]="i % 2 !== 0"
    ></app-about-block>
  </div>
</div>
<app-services-block></app-services-block>
