.parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent > img {
  width: 40%;
  object-fit: cover;
}

.parent > div > h2 {
  color: #2e70ff;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}


.parent > div > a {
  color: #1c1c1c;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: bolder;
  line-height: 160%;
  text-decoration: underline #0d45be;
}

@media screen and (max-width: 880px) {
  .parent > div > h2 {
    font-size: 26px;
  }
}

@media screen and (max-width: 615px) {
  .parent {
      flex-direction: column;
  }

  .parent > div > h2 {
    text-align: center;
  }

  .parent > div > a {
    text-align: center;
    display: block;
    margin-top: 20px;
  }

  .parent > img {
    width: 60%;
  }
}


@media screen and (max-width: 420px) {
  .parent > img {
    width: 70%;
  }
}
