.parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent > img {
  width: 40%;
  object-fit: cover;
}

.parent > div > h2 {
  color: #2e70ff;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}


.parent > div > a {
  color: #1c1c1c;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: bolder;
  line-height: 160%;
  margin-top: 50px;
  text-decoration: underline #0d45be;
}
